.App {
	text-align: center;
}

.header {
	margin-bottom: 1rem;
	padding: 2rem 0;
	background-color: lightblue;
	color: darkblue;
	font-size: 1.5rem;
	font-family: sans-serif;
	font-weight: 700;
}

.list-container {
	margin: 0 auto;
	padding: 1rem 0;
	font-size: 1rem;
	font-weight: 400;
	width: 50vw;
	border: 1px solid lightblue;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.todo {
	background-color: lightgrey;
	padding: 0.5rem 0;
	font-size: inherit;
	width: 80%;
	color: steelblack;
	border: 1px solid darkgray;
	border-radius: 3px;
	display: flex;
	justify-content: space-around;

	&:not(:last-child) {
		margin-bottom: 0.4rem;
	}

	label:hover {
		cursor: pointer;
	}
}

.new-task {
	padding: 0.8rem 0;
	margin: 1rem auto;
	border: 1px solid lightgreen;
	width: 50vw;
	line-height: 2rem;
	font-size: 1.2rem;

	&__form {
		display: flex;
		justify-content: center;
	}

	&__content {
		font-size: 1rem;
		border: 1px solid lightgrey;
		margin: 0 1.5rem;
	}
}

.finish-check {
	visibility: hidden;
	&:checked + label {
		text-decoration: line-through;
	}
}
